@charset "utf-8";

/*contents
----------------------------------------------------------- */
div.tooltip	{
	min-width: 100px;
	max-width:350px;
	position: absolute;
	left: -9999px;
	background: #EEE;
	padding: 5px;
	border: 1px solid #AAA;
}

div.tooltip p{
	color: #FFF;
	background: #222;
	margin: 0;
	padding: 5px 10px;
	font-size:12px;
	line-height: 1.5em;
}