body{
	overflow: hidden;
	margin:0;
}
.load_mes,.alert_mes{
	position: absolute;
	z-index: 9999;
	left: 40%;
	top:40%;
	width: 200px;
	height: 50px;
	padding: 20px 10px 0 10px;
	overflow:hidden;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-family:'microsoft yahei';
	box-shadow: 2px 2px 6px #aaa;
	text-align:center;
	display: none;
}
.hide{
	display: none;
}
.pop{
	position: absolute;
	z-index: 999;
	max-width: 0;
	max-height: 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-family:'microsoft yahei';
	box-shadow: 2px 2px 6px #aaa;
	display: none;	
	/*-webkit-filter: blur(2px);*/
}
.pop .close{
	display: none;
	width: 20px;
	height: 20px;
	background: #9fa;
	border-radius: 30px;
	border: 1px solid #CCC;
	position: absolute;
	top: -10px;
	left: -10px;
	box-shadow: 0 0 15px #AAA;
}
.pop .close:hover{
	background: #f33;
	cursor: pointer;
}
.pop .content{
	padding: 10px;
}
.active{
	overflow: hidden;
}
.draggable{
	z-index: 1000;
	/*-webkit-filter: none;*/
	cursor: move;
}
.mes_clouds{
	margin:10px auto;
	width:960px;
	height:700px;
}
.shelter{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
#item{
	width:1px;
	height:1px;
	top:300px;
	margin:0 auto;
	position:relative;
	list-style-type: none;
	display: none;
}
#item li{
	line-height: 0;
	border-radius: 50px;
	border:2px #ccc solid;	
	cursor: help;
}
#item img{
	width:100px;
	border-radius: 50px;
}

/*div in the list*/
.tab{
	cursor: pointer;
	position: absolute;
	z-index: 99;
}
.tab .panel{
	text-decoration: none;
}
.tab .panel div{
	width: 15px;
	overflow: hidden;
	text-align:right;
	font: bolder 14px/14px "microsoft yahei";
	letter-spacing: 5px;
}
.all{
	background-color:#fff;
	color: #fff;
	border: 1px solid #fff;	
}
.words{
	background-color:#fff;
	color: #666;
	border: 1px solid #ccc;
}
.words span{
	color: #ccc;
}
.words .name{
	color: #09F;
}
.article{
	background-color:#60f;
	color: #fff;
	border: 1px solid #60f;
}
.article span{
	color: #cff;
}
.article .name{
	color: #eee;
}
.video{
	background-color:#fc0;
	color: #fff;
	border: 1px solid #fc0;
}
.video span{
	color: #369;
}
.video .name{
	color: #fff;
}
.game{
	background-color:#000;
	color: #fff;
	border: 1px solid #000;
}
.game span{
	color: #9c0;
}
.game .name{
	color: #f90;
}
/*.other{
	margin: 20px 20px 0px;
}*/

/*new page modal*/
#modal{ 
	display: none;
	text-decoration: none;
}
#modal .close,.submit{
	text-decoration:none;
	background: #CCC;
	color: #333;
	padding: 5px 10px; 
	border: none; 
	font-family:'microsoft yahei';
}
#modal .close:hover,.submit:hover{ 
	background: #aaa; 
	color: #fff;
}
#modal .words,#modal .article,#modal .game,#modal .video,#modal .all{
	width: 93%;
	max-height: 50px;
	border-radius: 10px;
	-webkit-filter: blur(2px);
	margin: 10px 0;
	overflow: hidden;
	padding: 10px;
} 

.pop textarea{
	width: 99%;
	min-width: 397px;
	margin-top: 10px;
	height: 75px;
}
.submit{
	position: absolute;
	right: 15px;
	margin-top: -60px;
	width: 35px;
	display: block;
	cursor: pointer;
}
/*end*/