#gameField{
	width:1000px;
	height:600px;
	position:relative;
	margin:0 auto;
	overflow:hidden;
	border: solid;
	background-color: #eee;
}
.stage{
	position: relative;
	left: 100px;
	top: 100px;
	width: 800px;
	border: solid;
}
.select{
	position: absolute;
	left: 205px;
	top: 105px;
	width: 600px;
	height:400px;
	border: solid;
	z-index:15;
}
.bio{
	position: absolute;
	z-index:15;
}
.p1 .bio{
	left: 190px;
	bottom: 100px;
}
.p2 .bio{
	right: 250px;
	top: 50px;
}
.p1c{
	position: absolute;
	left: 190px;
	top: 136px;
	z-index:15;
	display:none;
}
.p2c{
	position: absolute;
	left: 41px;
	top: 122px;
	z-index:15;
	display:none;
}
.p2 .locking{
	position: absolute;
	right: 227px;
	top: 23px;
	z-index:10;
}
.p2 .info{
	position: absolute;
	right: 330px;
	top: 20px;
}
.p1 .info{
	position: absolute;
	bottom:150px;
	left: 30px;
}
.tp
{
	width: 196px;
	border: 1px solid #FFF;
}
.tp1
{
	position:absolute;
	width: 200px;
	border: 1px solid #F00;
}
.tp div
{
	background-color: #333;
	text-align: center;
	color: #FFF;
}
.tp1 div
{
	background-color: #F00;
	color: #FFF;
}
.tp div,.tp1 div
{
	height:20px;
	font-family: "黑体";
	font-weight: bold;
	width: 0px;
}
.vp,.vp1
{
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	position:absolute;
	background-color: #333;
	border: 3px solid #fff;
	z-index:15;
	width:30px;
	height:30px;
	color:#FFF;
	text-align: center;
	margin-top: 72px;
	margin-left: 75px;
	font-weight: bold;
	font-family: "黑体";
	font-size: 27px;
}
/*.vp,.vp1
{
	font-family: "黑体";
	font-size: 18px;
	color: #FFF;
	background-color: #000;
	text-align: center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; 
	filter:alpha(opacity=70);
	opacity:0.7; 
}*/
.hit,.ski{
	position:absolute;
	display:none;
	z-index:99;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.hit{
	width:200px;
	height:200px;
	background-image: url(../images/ani/hit.png);
}
.ski{
	width:192px;
	height:192px;
	/*background-image: url(../images/ani/ski.png);*/
}
.face{
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	
	position:absolute;
	z-index:5;
	border: 3px solid #F90;
}
.status{
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: 5px 5px 10px #000;
	-webkit-box-shadow: 5px 5px 10px #000;
	box-shadow: 5px 5px 10px #000;
	
	position:absolute;
	background-color: #333;
	padding: 5px;
	border: 3px solid #FFF;
	z-index:1;
	margin-top: 5px;
	margin-left: 50px;
	width:200px;
	color:#fff;
}
.hp,.sp,.hp1,.sp1{
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 50px;	
}
.ncard{
	position:absolute;
	z-index:5;
	bottom:22px;
	left:710px;
	width: 198px;
}
.pcard{
	position:absolute;
	z-index:5;
	bottom:34px;   /*用js来随时调节*/
	left:367px;	/*display:none;*/
}
.pcard img{
	-moz-box-shadow: 5px 5px 10px #000;
	-webkit-box-shadow: 5px 5px 10px #000;
	box-shadow: 5px 5px 10px #000;
	margin: 5px;
	width: 80px;
}

.skill{
	position:absolute;
	left:0;
	bottom:-10px;
	z-index:2;
	display:none;
}
.kuang{
	position:absolute;
	border: solid;
	padding: 10px;
	z-index:30;
	background-color: #000;
	color: #FFF;
	font-family: "黑体";
	font-weight: bold;
	text-align: left;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /*IE8*/
	filter:alpha(opacity=70);  /*IE5、IE5.5、IE6、IE7*/
	opacity:0.7;  /*Opera9.0+、Firefox1.5+、Safari、Chrome*/
	/*-webkit-border-radius: 15px;
	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);*/
	/*只能webkit内核使用*/
	top:353px;   /*用js来随时调节*/
	left:270px;
	/*display:none;*/
}
.time{
	position:absolute;
	left:430px;
	top:10px;
	font-family: "黑体";
	font-weight: bold;
	text-align: left;
	font-size: 36px;
}

.box {
	-moz-border-radius: 15px; /* Firefox */
	-webkit-border-radius: 15px; /* Safari and Chrome */
	border-radius: 15px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
	-moz-box-shadow: 10px 10px 20px #000; /* Firefox */
	-webkit-box-shadow: 10px 10px 20px #000; /* Safari and Chrome */
	box-shadow: 10px 10px 20px #000; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
	behavior: url(css/ie-css3.htc); /* This lets IE know to call the script on all elements which get the 'box' class */
	background-color: #333;
	padding: 10px;
	border: 5px solid #FFF;
	z-index:5;
	top:40px;   /*用js来随时调节*/
	left:45px;	/*display:none;*/
	width:200px;
	position: absolute;
}
